
# Builder compiler
build/node_modules

# Wordpress
src/*.php
!wp-config.php
!wp-env.php
!wp-required-env.php
src/wp-admin
!src/wp-content/themes
src/wp-includes/
src/wp-content/languages
src/wp-content/themes/index.php
src/wp-content/themes/*
src/wp-content/uploads/
src/wp-content/plugins/
src/license.txt
src/readme.html
src/Remove
# src/wp-includes

# Docker
.docker/*
!.docker/ngrok.yml

# WP-CLI
wp-cli.phar

# Others
# *.log
.env
news-implementations
node_modules
